* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* Common */
.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

/* Main */
#main {

}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    font-size: 15px;
    text-decoration: none;
    padding: 0 24px;
    line-height: 46px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    position: absolute;
    width: 160px;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .search-btn {
    float: right;
}

#header .search-icon {
   color: #fff;
   font-size: 16px;
   font-weight: 600;
   line-height: 46px;
   padding: 15px 23px;
}

#header .search-icon:hover {
    color: #000;
    background-color: #f44336;
    cursor: pointer;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 32px 16px;
}

#slider .text-heading {
    font-size: 24px;
    line-height: 1.5;
    margin: 10px;
    font-weight: 400;
}

#slider .text-description {
    font-size: 15px;
    line-height: 1.5;
    margin: 15px;
}
/* Content */
#content {
    
}

#content .content-section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
}

#content .section-heading {
    line-height: 1.5;
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 4px;
    margin: 10px 0;
}

#content .section-sub-heading {
    line-height: 1.5;
    font-size: 15px;
    text-align: center;
    margin: 15px 0;
    opacity: 0.6;
    font-style: italic;
}

#content .about-text {
    line-height: 1.5;
    font-size: 15px;
    margin: 15px 0;
    text-align: justify;
}

/* Member list */

#content .member-list {
   padding: 32px 0;
}

#content .member-item {
    float: left;
    text-align: center;
}

#content .member-name {
    font-size: 15px;
    margin: 15px 0;
    line-height: 1.5;
}

#content .member-img {
    width: 60%;
    border-radius: 4px;
}

/* Tour */

.tour-section {
    background-color: #000;
}

.tickets-list {
    background-color: #fff;
    margin-top: 40px;
}

.tickets-list li {
    font-size: 15px;
    line-height: 1.5;
    padding: 8px 16px;
    border: 1px solid #ddd;
    color: #757575;
    list-style: none;
}

.tickets-list .sold-out {
    padding: 3px 8px;
    background: #f44336;
    color: #fff;
    margin-left: 16px;
}

.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-right: 16px;
}

/* Place */
 
.places-list {
    padding: 32px 8px;
    margin: 0 -16px;
}

.place-item {
    float: left;
    width: 33.33333%;
    padding: 0 8px;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: #fff;
    padding: 15px 16px;
    font-size: 15px;
    line-height: 1.5;
}

.place-heading {
    font-size: 15px;
}

.place-time {
    opacity: 0.6;
    margin: 15px 0;
}

.place-desc {
    margin: 15px 0;
}

.place-buy-btn {
    text-decoration: none;
    color: #fff;
    background: #000;
    padding: 11px 15px;
    display: inline-block;
}

.place-buy-btn:hover {
    color: #000;
    background-color: #ccc;
}

/* Information */

.contact-content {
    padding: 32px 0;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .form-submit-btn {
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 16px;
    float: right;
}

.contact-form .form-submit-btn:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

/* Map section */

.map-section img {
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 24px;
}

#footer .socials-list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}
#footer .copyright a:hover,
#footer .socials-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 300px;
    position: relative;
    animation: modalFadeIn ease .5s;
}

.modal-header {
    font-size: 30px;
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    letter-spacing: 4px;
    color: #fff;
}

.modal-heading-icon {
    margin-right: 16px;
}

.ti-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer
}

.ti-close:hover {
    color: #000;
    background: violet;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets {
    background-color: #009688;
    border: none;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    font-size: 15px;
    line-height: 1.5;
    padding: 16px;
}

#buy-tickets:hover {
    color: #000;
    background-color: violet;
    cursor: pointer;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



